/* $gld-kleur-oranje: #ee7f01; */
$gld-kleur-oranje: rgb(236, 126, 0);
/* $gld-kleur-paars: #662483; */
$gld-kleur-paars: rgb(102, 36, 131);
$gld-kleur-lichtgroen: #97bf0d;
$gld-kleur-donkergroen: #006e33;
$gld-kleur-geel: #fdcd20;
$gld-kleur-lichtblauw:  #25b8ca;
$gld-kleur-roze:  #e42e87;
$gld-kleur-donkerblauw:  #172983;
$gld-kleur-rood: rgb(239, 65, 48);
$gld-kleur-opsporing1: $gld-kleur-paars;
$gld-kleur-opsporing2: $gld-kleur-roze;
$gld-kleur-opsporing3: $gld-kleur-lichtblauw;
$gld-kleur-cultuur1: $gld-kleur-rood;
$gld-kleur-cultuur2: $gld-kleur-lichtblauw;
$gld-kleur-cultuur3: $gld-kleur-lichtgroen;
$gld-kleur-zorg1: $gld-kleur-donkerblauw;
$gld-kleur-zorg2: $gld-kleur-lichtblauw;
$gld-kleur-zorg3: $gld-kleur-geel;
$gld-kleur-innovatie1: $gld-kleur-paars;
$gld-kleur-innovatie2: $gld-kleur-geel;
$gld-kleur-innovatie3: $gld-kleur-oranje;
$gld-kleur-natuur1: $gld-kleur-donkerblauw;
$gld-kleur-natuur2: $gld-kleur-geel;
$gld-kleur-natuur3: $gld-kleur-donkergroen;
$gld-kleur-sport1: $gld-kleur-rood;
$gld-kleur-sport2: $gld-kleur-lichtgroen;
$gld-kleur-sport3: $gld-kleur-paars;
$gld-kleur-corporate1: $gld-kleur-paars;
$gld-kleur-corporate2: $gld-kleur-oranje;
$gld-kleur-nieuws1: $gld-kleur-donkerblauw;
$gld-kleur-nieuws2: $gld-kleur-lichtblauw;
$gld-kleur-nieuws3: $gld-kleur-roze;

/* paarsladder */
$gld-kleur-paars-100: #662483;
$gld-kleur-paars-90: #75398f;
$gld-kleur-paars-80: #85509c;
$gld-kleur-paars-70: #9465a8;
$gld-kleur-paars-60: #a37cb5;
$gld-kleur-paars-50: #b291c1;
$gld-kleur-paars-40: #c2a7cd;
$gld-kleur-paars-30: #d1bdda;
$gld-kleur-paars-20: #e0d3e6;
$gld-kleur-paars-10: #efe9f2;
